<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<h1> Burger Eater! </h1>
		</div>
		<div class="col-md-6 text-center burger_border" class="task">
            <p>Ready to eat</p>
			<div class="row">
			  {{#each burger}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				</div>
				<div class="col-md-3 text-center">
                    <button class= "eat eat_button" data-id = "{{this.id}}">Devour!!</button>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-md-6 text-center burger_border" class="task">
            <p>Devoured!</p>
			  {{#each burger}}
			  	{{#if this.devoured}}
			  		<p>{{this.id}}. {{this.burger_name}}</p>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control form_border" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary form_button" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger you want to eat Click the "Submit" button.</p>
		</div>
	</div>
</div>
